/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
  
.text-slider {
  text-align: center;
  width: 70%;
  left: 15%;
}
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
 .text-slider {
  text-align: center;
  width: 80%;
  left: 10%;
}
    
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
 .text-slider {
  text-align: center;
  width:90%;
  left: 5%;
}
    
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 
.text-slider {
  text-align: center;
  width: 100%;
  left: 0;
}
}